@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


:root {
  --main-blue-color: #4440DF;
  --main-green-color: #36BBA6;
  --main-light-color: #fff;
}

body {
  background: var(--main-blue-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--main-light-color);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.container {
  padding: 8px 32px;
  overflow: hidden;
  max-width: 1344px;
  margin-left: auto;
  margin-right: auto;

}

.subhead {
  font-size: max(22px, min(2.976vw, 40px));
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 2.381vw;

}

.button {
  border: none;
  background: none;

  padding: 15px 20px;
  background: #FFFFFF;
  border: 2px solid var(--main-green-color);
  border-radius: 20px;
  color: var(--main-blue-color);
  transition: background-color 1s, color 1s, border 1s;
  cursor: pointer;

}

.button:hover{
  background: var(--main-blue-color);
  border-radius: 20px;
  border: 2px solid var(--main-light-color);

  color: var(--main-light-color);

}

.input {
  padding: 15px 20px;
  /* background: #FFFFFF; */
  border: 1px solid var(--main-green-color);
  border-radius: 20px;
  color: var(--main-blue-color);
  min-width: 300px;
}

.input:focus, .input:focus-visible{
  border: 1px solid var(--main-green-color);
  /* background-color: var(--main-green-color); */
}

.input::placeholder{
  color: var(--main-blue-color);
  opacity: 1; /* Firefox */

}

.sub2{
  font-size: max(18px, min(2.381vw, 32px));
  margin-top: 32px;

}